<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Las Torres</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <!-- Taskbar -->
  <div class="taskbar">
    <a href="/"><img src="/public/pics/logo.jpg" alt="Hotel Las Torres Logo" class="logo"></a>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/rooms">Rooms</a>
    <a href="/contact">Comment</a>
    <a href="/booking">Book Now</a>
    <a href="/admin">Employee Login</a> 
  </div>
  <header>
    <h1>Hotel Las Torres</h1>
  </header>
</body>

</html>
