
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        {{>taskbar}} 
        {{!-- <nav>
            <li><a href="/"> Home </a></li>
            <li><a href="/rooms">Check Out Our Rooms</a></li>
        </nav> --}}
        <h2>Tu Comodidad es nuestra prioridad</h2>
    </header>
    <main>
        {{{body}}}
    </main>
    {{> (lookup . 'partial') }}
</body>
<footer>
    <p>insert footer info here</p>
</footer>
</html>