
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>hotel las torres</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <h1>Hotel Las Torres</h1>
        <nav>
            
           
            <a href="/"> Home </a>    
        </nav>
    </header>

    <main>
        <p>
           Bienvenidos a Hotel Las Torres
        </p>
        
        {{{body}}}
    </main>
    




</body>

</html>