
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hotel Las Torres</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <h1>Hotel Las Torres</h1>
        <nav>
            <li><a href="/"> Home </a></li>
            <li><a href="/rooms">Check Out Our Rooms</a></li>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    




</body>

</html>