<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/public/js/map.js"></script>
</head>

<body>
    <header>

         <div id="google_translate_element" class="translate-dropdown"></div>
         {{> taskbar}}
        <h2>Tu Comodidad es Nuestra Prioridad</h2>
         <div id="google_translate_element"></div>
    </header>

    <main>
        {{{body}}}
    </main>

    {{> dead_server_script }}

    <footer>
        <div class="footer-container">
            <div class="footer-info">
                <div class="footer-left">
                    <p>Contact us:</p>
                    <ul>
                        <li>Phone: <a href="tel:+573226867206">+57 (322) 686-7206</a></li>
                        <li>WhatsApp: <a href="tel:+573226867206">+57 (322) 686-7206</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <p>Follow us:</p>
                    <ul>
                        <li>Instagram: <a href="https://www.instagram.com/hotel_las_torres/" target="_blank">@hotel_las_torres</a></li>
                        <li>Facebook: <a href="https://facebook.com/hotelprofile" target="_blank">Hotel Profile</a></li>
                    </ul>
                </div>
                 <div class="footer-right">
            <p>We Offer:</p>
            <ul>
                <li>Wi-Fi</li>
                <li>Hot Water</li>
                <li>On-site Parking</li>
                <li>Coffee and Tea </li>
            </ul>
            </div>
               
            </div>
           
           
            <div id="hotel-map"></div>
        </div>
    </footer>

     <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>