
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/public/js/map.js"></script>
</head>
<body>
    <header>
        {{>taskbar}} 
        {{!-- <nav>
            <li><a href="/"> Home </a></li>
            <li><a href="/rooms">Check Out Our Rooms</a></li>
        </nav> --}}
        <h2>Tu Comodidad es nuestra prioridad</h2>
    </header>
    <main>
        {{{body}}}
    </main>
    {{> (lookup . 'partial') }}
</body>
   
<footer>
    <div class="footer-container">
        <div class="footer-info">
            <div class="footer-left">
                <p>Contact us:</p>
                <ul>
                    <li>Phone: <a href="tel:+57234567890">+57 (234) 567-7206</a></li>
                    <li>WhatsApp: <a href="tel:+573226867206">+57 (234) 567-7206</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <p>Follow us:</p>
                <ul>
                    <li>Instagram: <a href="https://www.instagram.com/hotel_las_torres/" target="_blank">@hotel_las_torres</a></li>
                    <li>Facebook: <a href="https://facebook.com/hotelprofile" target="_blank">Hotel Profile</a></li>
                </ul>
            </div>
        </div>
        <div id="hotel-map"></div>
    </div>
</footer>



</html>