<section class="about-us-container">
    <div class="about-us-txtbox">
        <h1>About Us</h1>
        <p>
            Welcome to our hotel! We are a small family-owned hotel based in Quimbaya, Quindio!
            We opened back in 2005.       </p>
    </div>
    <div class="about-us-imgbox">
        <img src="public/pics/owners_balcony.jpg" class="about-us-image" alt="View from the owner's balcony overlooking the hotel grounds">
    </div>
</section>

