<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/styles.css"> 
</head>
        {{#if success}}
            <div class="success-message">
                {{successMessage}}
            </div>
        {{/if}}
        {{#if hasErrors}}
      <ul class="error-list">
          {{#each errors}}
          <li>
          {{this}}
          </li>
          {{/each}}
      </ul>
    {{/if}}
{{!-- <body>
    <h1>Welcome to the Admin Dashboard</h1>
    <table id="rooms-table">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Room rows will be dynamically added here -->
        </tbody>
    </table>
    
    <button class="logout-button" onclick="location.href='/logout'">Logout</button>
</body> --}}
</html>


<script src="/public/js/admin_dash.js"></script>