<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/styles.css"> 
</head>
<body>

    <div class="dashboard-actions">
    </div>

    {{#if success}}
        <div class="success-message">
            {{successMessage}}
        </div>
    {{/if}}

    {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if rooms}}
        {{> admin_dash }}
    {{/if}}

    {{#if reservations}}
        {{> admin_reservations }}
    {{/if}}

    <script src="/public/js/admin_dash.js"></script>
</body>
</html>
