  <!DOCTYPE html>
  <body>
    <h1>Book Your Stay Today!</h1>
        {{#if success}}
            <div class="success-message">
                {{successMessage}}
            </div>
        {{/if}}
        {{#if hasErrors}}
            <ul class="error-list">
                {{#each errors}}
                <li>
                {{this}}
                </li>
                {{/each}}
            </ul>
        {{/if}}
    <div id='calendar_all'></div>
    {{!-- <form action='/booking' method="POST" class="bookingForm" id="bookingForm"> --}}
      <label for="checkIn">Check-in Date:</label>
      <input type="date" id="checkIn" name="checkIn" required><br>

      <label for="checkOut">Check-out Date:</label>
      <input type="date" id="checkOut" name="checkOut" required><br>

      <label for="roomNumber">Room Number(s):</label>
      <select id="roomNumber" name="roomNumber" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select><br>

      <div class="parking-div">
          <label for="parking">Will you use parking?</label>
          <input type="checkbox" id="parking" name="parking"><br>
      </div>

      <label for="numOfGuests">Number of Guests:</label>
      <input type="number" id="numOfGuests" name="numOfGuests" min="1" required><br>

      <label for="guestFirstName">First Name(s):</label>
      <textarea id="guestFirstName" name="guestFirstName" placeholder="Enter First Name(s)" required></textarea><br>

      
      <label for="guestLastName">Last Name(s):</label>
      <textarea id="guestLastName" name="guestLastName" placeholder="Enter Last Name(s)" required></textarea><br>

      <label for="govID">Government ID:</label>
      <textarea id="govID" name="govID" placeholder="Enter your Government ID" required></textarea><br>

      <label for="age">Age:</label>
      <input  type="number" id="age" name="age" placeholder="age" min="1" required></number><br>

      <label for="phone">Phone Number:<br/><small>Format: ###-###-####</small></label>
      <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="10" minlength="10" required><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br>

      <button type="submit">Submit</button>
    {{!-- </form> --}}

    <ul id="newBooking"> </ul>
  </body>
</html>