  <!DOCTYPE html>
<body>
    <h1>Book Your Stay Today!</h1>
        {{#if success}}
            <div class="success-message">
                {{successMessage}}
            </div>
        {{/if}}
        {{#if hasErrors}}
            <ul class="error-list">
                {{#each errors}}
                <li>
                {{this}}
                </li>
                {{/each}}
            </ul>
        {{/if}}
    <div id='calendar_all'></div>
  
    <ul id="newBooking"> </ul>
  </body>
</html>