    <section>
        <h1>Give us feedback on your stay!</h1>
        <form method="POST" id="feedback-form" class="feedback-form">
		    <label for="reservationID">Enter your reservation ID</label>
            <input type="text" id="reservationID" name="reservationID" required><br>

            <label for="feedback"> Enter your feedback</label>
            <input type="text" id="feedback-input" class="feedback-input" required><br>

            <button type="submit">Submit</button><br>

	</form>
    </section>