
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

    <h1> Hotel Las Torres </h1>

</html>