<section class="landing">
    <h1>Welcome to the Home Page</h1>
    <p>Hotel Description</p>
    <div class="image-container">
        <img src="../public/pics/cropped_hotel_front.jpg" alt="cropped hotel front">
    </div>
</section>


