    <section>
        <h1>{{pageTitle}}</h1>
        
        
            {{#if error}}
               <div class="error">{{error}}</div>
            {{/if}}
    


        <form  id="loginForm" method ="POST" class="form-container" >
            <label for="userInput">Username:</label>
            <input type="text" name="userInput" id="userInput" placeholder="Enter your username..."/>
            <br>

            <label for="passInput">Password: </label>
            <input type="password" name="passInput" id="passInput" required/>
            <br>
            <button type="submit">Login</button>
        </form>

    </section>