<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourism</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
 
  <main>
    <section>
      <h1>Welcome to the Tourism Page</h1>
    <div class="tourism-container">
        <div class="tourism-card">
            <h2>Parque del Cafe</h2>
        </div>
         <div class="tourism-card">
            <h2>Panaca</h2>
        </div>
         <div class="tourism-card">
            <h2>Balsaje</h2>
        </div>
    </div>
    </section>
  </main>
</body>
</html>
