<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourism</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
 
  <main>
    <section>
      <p> TEST BLOCK</p>
      <h1>Welcome to the Tourism Page</h1>
    <div class="tourism-container">
        <div class="tourism-card">
            <h2>Parque del Cafe</h2>
            <img src="/public/pics/parque_del_cafe.jpeg" alt="Parque del cafe">
            <p>Experience a thrilling blend of coffee culture, amusement rides, and beautiful landscapes in the heart of Colombia.</p>
            <ul>
                <li><strong>Location:</strong> Montenegro, Quindío</li>
                <li><strong>Main Attractions:</strong> Roller coasters, cable cars, cultural shows, and coffee-themed exhibits.</li>
                <li><strong>Hours:</strong> 9:00 AM - 6:00 PM (Varies by season)</li>
                <li><strong>Website:</strong> <a href="https://parquedelcafe.co/en/parque-del-cafe/" target="_blank">parquedelcafe.co</a></li>
            </ul>
        </div>
         {{!-- <div class="tourism-card">
            <h2>Panaca</h2>
            <p>ioghrghohoho</p>
            <ul>
                <li><strong>Location:</strong> Quimbaya, Quindío</li>
                <li><strong>Main Attractions:</strong>Animales</li>
                <li><strong>Hours:</strong> 9:00 AM - 6:00 PM (Varies by season)</li>
                <li><strong>Website:</strong> <a href="https://panaca.co/" target="_blank">panaca.co</a></li>
            </ul>
        </div>
         <div class="tourism-card">
            <h2>Balsaje</h2>
            <p>gbifvygigi</p>
            <ul>
                <li><strong>Location:</strong> Puerto Alejandria, Quindío</li>
                <li><strong>Main Attractions:</strong> Rio</li>
                <li><strong>Hours:</strong>(Varies by season)</li>
                <li><strong>Website:</strong> <a href="https://parquedelcafe.co/en/parque-del-cafe/" target="_blank">parquedelcafe.co</a></li>
            </ul>
        </div> --}}
    </div>
    </section>
  </main>
</body>
</html>
